@import "./_colors.scss";

.bg-main {
  background: $main-color !important;
}

.bg-silver {
  background-color: $silver-color !important;
}

.text-header {
  font-weight: 700;
}

.text-header {
  font-weight: 700;
}

.border-radios-black {
  border: 1px solid black;
  border-radius: 5px;
}
